# Capítulo 3. Bult-in Data Structures, Functions and Files

# Tuple 
Tupla é imutável, não é possível adicionar ou remover os dados

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

É possível criar tuplas dentro de tuplas

In [2]:
tup1 = (1, 2, 4), (4, 5), (7, 8, 9)
tup1

((1, 2, 4), (4, 5), (7, 8, 9))

Converter uma sequência em tupla

In [3]:
tup_string = tuple('TEste')
tup_string

('T', 'E', 's', 't', 'e')

In [4]:
tup_string[2]

's'

A tupla é imutável não tem mudar um dado

In [4]:
tup_errada = tuple (['Teste', [2, 3, 4], True])
tup_errada[2] = True

TypeError: 'tuple' object does not support item assignment

Para adicionar uma informação pode ser utilizado .append

In [6]:
tup_errada[1].append(7)
tup_errada

('Teste', [2, 3, 4, 7], True)

Como concatenar uma Tupla

In [7]:
tup_concatenada = tup_string + tup_errada + tuple(['Casa', 'Lar', [1, 3, 40313]])
tup_concatenada

('T',
 'E',
 's',
 't',
 'e',
 'Teste',
 [2, 3, 4, 7],
 True,
 'Casa',
 'Lar',
 [1, 3, 40313])

In [8]:
tup_multiplica = ('Teste1', 'Teste2') * 4
tup_multiplica

('Teste1',
 'Teste2',
 'Teste1',
 'Teste2',
 'Teste1',
 'Teste2',
 'Teste1',
 'Teste2')

Como desconcatenar a tupla

In [9]:
tupla_unpacking = (4, 5, 6)
a, b, c = tupla_unpacking
b

5

In [10]:
tupla_unpacking_2 = 4, 5, (6, 7)
a, b, (c, d) = tupla_unpacking_2
d

7

In [11]:
a, b = 1, 2
a

1

In [12]:
b

2

In [13]:
b, a = a, b
a

2

In [14]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12), (13, 14, 15), (16, 17, 18)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9
a=10, b=11, c=12
a=13, b=14, c=15
a=16, b=17, c=18

Quando você não sabe quantos dados

In [15]:
valores = 1, 2, 3, 4, 5, 6, 7
a, b, *rest = valores
a

1

In [16]:
rest

[3, 4, 5, 6, 7]

In [17]:
valores = 1, 2, 3, 4, 5, 6, 7
a, b, *_ = valores
a

1

In [18]:
_

[3, 4, 5, 6, 7]

In [19]:
a = (1, 2, 3, 4, 5)

Tuple Methods
.count cantos tipos de dados tem, ou seja se tiver repetição de dados ele não conta

In [20]:
a = (1, 2, 2, 2, 2, 2, 3, 4, 5)
a.count(2)

5

# List

Lista é diferente de tupla, ela pode ser modificada e é usado []

In [21]:
lista = [1, 2, 3, 4, None]
lista

[1, 2, 3, 4, None]

In [6]:
tupa = ('foo', 'bar', 'baz')
tupa

('foo', 'bar', 'baz')

In [7]:
lista_2 = list(tupa)
lista_2

['foo', 'bar', 'baz']

In [8]:
lista_2[1] = 'teste'
lista_2

['foo', 'teste', 'baz']

range(10) é uma função que cria uma especia de objeto de 0 até 9 - 10 valores

In [1]:
gen = range(10)
gen

range(0, 10)

Ao transformar esse range em uma lista ele mostra os valores criados

In [2]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Como adicionar dados na lista

In [9]:
lista_2.append('teste21312')
lista_2

['foo', 'teste', 'baz', 'teste21312']

Diferente do append que adiciona ao final da lista com o insert você define a posição que você vai adicionar o dado

In [10]:
lista_2.insert(1, 'Vermelho')
lista_2

['foo', 'Vermelho', 'teste', 'baz', 'teste21312']

Remover um elemento da lista pela sua localização dentro da lista

In [11]:
lista_2.pop(2)
lista_2

['foo', 'Vermelho', 'baz', 'teste21312']

In [32]:
lista_2.append('foo')
lista_2

['foo', 'Vermelho', 'baz', 'teste21312', 'foo']

Remover um elemento da lista pelo valor, porém o remove só vai remover o primeiro valor encontrado

In [33]:
lista_2.remove('foo')
lista_2

['Vermelho', 'baz', 'teste21312', 'foo']

Como verificar se exite um dado dentro da lista

In [36]:
'Vermelho' in lista_2

True

In [38]:
'Vermelho' not in lista_2

False

Concatemating and Combining list

Pode concatenar utilizando o +

In [12]:
[4, None, 'foo'] + [7, 8, 9, (4, 7)]

[4, None, 'foo', 7, 8, 9, (4, 7)]

Ou pode utilizando o .extend

In [41]:
x = [4, None, 'foo']
x.extend([7, 8, (3, 41, True)])
x.extend([3, 'casa'])
x

[4, None, 'foo', 7, 8, (3, 41, True), 3, 'casa']

Como ordernar a sequencia da lista

In [42]:
a = [7, 2, 4, 1, 0]
a

[7, 2, 4, 1, 0]

In [44]:
a.sort()
a

[0, 1, 2, 4, 7]

In [46]:
b = ['casa', 'teste', 'Lara', 'Zé Rosca']
b.sort()
b

['Lara', 'Zé Rosca', 'casa', 'teste']

key=len ordena pelo tamanho das palavras

In [47]:
b.sort(key=len)
b

['Lara', 'casa', 'teste', 'Zé Rosca']

Binary search and maintaining a sort list

bisect é utilizado para mostrar a localização em que um dado pode ser inserido na sequência, ele faz um sort e acha a posição da dado que pode ser inserido

In [13]:
import bisect
c = [1, 2, 2, 3, 4, 7, 9]
bisect.bisect(c, 8)

6

Por exemplo no caso a cima, o valor 8 pode ser inserido na posição 6

In [50]:
bisect.bisect(c, 2)

3

In [33]:
d = [1, 3, 5, 3, 1, 3, 1, 2, 9]
bisect.bisect(d, 4)

8

In [34]:
d.sort()
d

[1, 1, 1, 2, 3, 3, 3, 5, 9]

In [35]:
bisect.insort(d, 4)
d

[1, 1, 1, 2, 3, 3, 3, 4, 5, 9]

Slicing

Aqui é possível fazer um fatiamento de uma lista

Pode retirar valores da lista

In [37]:
sequencia = [7, 8, 2, 4, 1, 0, 9]
sequencia[1:4]

[8, 2, 4]

Pode adicionar valores na lista

In [55]:
sequencia[3:5] = [1, 1, 1]
sequencia

[7, 8, 2, 1, 1, 1, 0, 9]

Buscar valores do começo até a posição específica

In [56]:
sequencia[:3]

[7, 8, 2]

Buscar valores da posição específica até o final

In [39]:
sequencia[3:]

[4, 1, 0, 9]

Buscar valores do início até o final -4, ou seja da última posição retorna mais 4 casas neste caso

In [40]:
sequencia[-4:]

[4, 1, 0, 9]

In [45]:
sequencia

[7, 8, 2, 4, 1, 0, 9]

Toda vez que é utilizado o - a contagem da posição é sempre de trás para frente

In [47]:
sequencia[-4:-1]

[4, 1, 0]

Utilizandos :: faz uma inversão da sequência da lista

In [48]:
sequencia[::-1]

[9, 0, 1, 4, 2, 8, 7]

ENUMERATEEEEE!!!!

Uma forma simples de enumerar uma sequência

In [68]:
i = 0
for value in sequencia:
    i += 1
    print(i, value)

1 7
2 8
3 2
4 1
5 1
6 1
7 0
8 9

Utilizando o enumerate

In [67]:
for i, value in enumerate(sequencia):
    print(i, value)

0 7
1 8
2 2
3 1
4 1
5 1
6 0
7 9

Enumerando uma lista e transformando num dicionário

In [72]:
some_list = ['foo', 'bar', 'teste']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
print(mapping)

{'foo': 0, 'bar': 1, 'teste': 2}

sorted é diferente de sort, o sorted faz o sequênciamento de tudo que estiver dentro da lista

In [74]:
sorted([7, 3, 1, 0, 9, 4, 6])

[0, 1, 3, 4, 6, 7, 9]

In [75]:
sorted('Rodrigo Broslavschi de Oliveira')

[' ',
 ' ',
 ' ',
 'B',
 'O',
 'R',
 'a',
 'a',
 'c',
 'd',
 'd',
 'e',
 'e',
 'g',
 'h',
 'i',
 'i',
 'i',
 'i',
 'l',
 'l',
 'o',
 'o',
 'o',
 'r',
 'r',
 'r',
 's',
 's',
 'v',
 'v']

zip !!!!!

zip é crazy ele "junta" pares de valores de duas listas, aqui é o inicinho de um dataframe

In [2]:
seq1 = ['teste1', 'foi', 'casa']
seq2 = ['um', 'dois', 'três']
zipado = zip(seq1, seq2)
list(zipado)

[('teste1', 'um'), ('foi', 'dois'), ('casa', 'três')]

tem como fazer um zip de uma lista que não tem a mesma quantidade de elementos, o problema é que a lista que tiver mais elementos perderá os últimos elementos que não foram combinados

In [3]:
seq3 = [True, False]
list(zip(seq1, seq2, seq3))

[('teste1', 'um', True), ('foi', 'dois', False)]

Enumerando uma lista zip

In [5]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{}: {}, {}'.format(i, a, b))

0: teste1, um
1: foi, dois
2: casa, três

In [7]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens')]
primeiro_nome, ultimo_nome = zip(*pitchers)
primeiro_nome

('Nolan', 'Roger')

In [8]:
ultimo_nome

('Ryan', 'Clemens')

reversed

reversed simpesmente inverte a sequência

In [59]:
list(reversed([1, 3, 1, 2, 2, 2, 2, 6, 9, 2, 5]))

[5, 2, 9, 6, 2, 2, 2, 2, 1, 3, 1]

In [63]:
lista_normal= [1, 3, 1, 2, 2, 2, 2, 6, 9, 2, 5]
lista_normal[::-1]

[5, 2, 9, 6, 2, 2, 2, 2, 1, 3, 1]

In [58]:
list(reversed('Rodrigo Broslavschi de Oliveira'))

['a',
 'r',
 'i',
 'e',
 'v',
 'i',
 'l',
 'O',
 ' ',
 'e',
 'd',
 ' ',
 'i',
 'h',
 'c',
 's',
 'v',
 'a',
 'l',
 's',
 'o',
 'r',
 'B',
 ' ',
 'o',
 'g',
 'i',
 'r',
 'd',
 'o',
 'R']

# dict

Se tenho uma coisa para falar sobre dicionário eu diria que é muito muito FODA!!!

Me ajudou muito em prepara diversas estruturas

In [65]:
d1 = {'a': 'teste', 'b': [1, 2, 3, 4]}
d1

{'a': 'teste', 'b': [1, 2, 3, 4]}

Como adicionar

In [13]:
d1[10] = 'Teste Casa 10'
d1

{'a': 'teste', 'b': [1, 2, 3, 4], 10: 'Teste Casa 10'}

In [68]:
d1['tchutchu'] = 'tchatcha'
d1

{'a': 'teste', 'b': [1, 2, 3, 4], 'tchutchu': 'tchatcha'}

In [69]:
d1['tchutchu']

'tchatcha'

Verificar se existe o valor 'a' dentro da variável

In [70]:
'a' in d1

True

Como remover um dado de uma variável

In [71]:
d1

{'a': 'teste', 'b': [1, 2, 3, 4], 'tchutchu': 'tchatcha'}

In [72]:
del d1['tchutchu']
d1

{'a': 'teste', 'b': [1, 2, 3, 4]}

Como Retirar um valor

In [73]:
resposta = d1.pop('a')
resposta

'teste'

In [74]:
d1

{'b': [1, 2, 3, 4]}

Como Listar as chaves do dicionário

In [22]:
list(d1.keys())

['b', 10]

Como Listar os Valores do dicionário

In [75]:
list(d1.values())

[[1, 2, 3, 4]]

Atualizar o dicionário

In [24]:
d1.update({'b': 'Altarado key b', 10: 'alterado key 10'})
d1

{'b': 'Altarado key b', 10: 'alterado key 10'}

Criando dicionários por meio de sequências

In [25]:
mapping = {}
for key, valeu in zip(['a', 'b', 'c', 'd'], ['casa', 'teste', 'ola', 'foi']):
    mapping[key] = valeu

In [26]:
mapping

{'a': 'casa', 'b': 'teste', 'c': 'ola', 'd': 'foi'}

In [30]:
mapping2 = dict(zip(range(5), reversed(range(5))))
mapping2

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

Default Values

setdefault é utilizado para ser reescrito dentro de um laço

for word in words:
    letter = word[0]
    by_letter.setdefault(letterm,[]).append(word)

# Collections

collections é um modulo utilizado para criar classes defaul, você cria um objeto collection é passo o tipo de função que será gerada e o valor que será gravado na variável

In [3]:
from collections import defaultdict

words = ['casa', 'teste', 'oi']

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [4]:
by_letter

defaultdict(list, {'c': ['casa'], 't': ['teste'], 'o': ['oi']})

Valid dict key list

Hash transforma a valor em inteiro, é utilizado para fazer comparações de Variáveis, quando as variáveis são imensas é interesante utiliza-lo

In [1]:
val_1 = ('Teste')
val_2 = ('Teste')
hash(val_1) == hash(val_2)

True

In [10]:
hash((1, 3, (2, 3)))

-1517178928303570310

# SET

set é utilizado para unificar duas variáveis

In [2]:
set([2,2,1,3,3])

{1, 2, 3}

In [3]:
{2,2,2,1,3,3}

{1, 2, 3}

Union é parecido com o set, ele faz um set em duas variáveis e depois unifica elas

In [5]:
a = {1, 2, 2, 2, 2, 3, 4}
b = {3, 3, 3, 4, 4, 5, 6, 7, 8}

In [6]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

intersection, faz um match dos valores

In [8]:
a.intersection(b)

{3, 4}

In [14]:
a & b

{3, 4}

add adiciona um elemento

In [13]:
a.add(10)
a

{1, 2, 3, 4, 10}

clear - zera a variável

In [16]:
a.clear()
a

set()

remove - remove um valor da variável

In [19]:
b

{3, 5, 6, 7, 8}

In [20]:
b.remove(5)
b

{3, 6, 7, 8}

pop - remove de forma arbitrária um valor

In [21]:
b.pop()

3

difference - verifica a diferença dos elementos

In [22]:
a = {1, 2, 3, 4}
b = {2, 4, 5, 6}
a.difference(b)

{1, 3}

In [23]:
b.difference(a)

{5, 6}

In [24]:
a - b

{1, 3}

In [25]:
b - a

{5, 6}

symmetric_difference - mostra os valores diferentes das duas variáveis

In [27]:
a.symmetric_difference(b)

{1, 3, 5, 6}

In [26]:
a ^ b

{1, 3, 5, 6}

issubset - Verifica se todos os valores da variável contem na outra variável

In [30]:
val_1 = {1, 2, 3, 4, 5, 6}
val_2 = {3, 6, 4}

In [32]:
val_2.issubset(val_1)

True

In [33]:
val_2 <= val_1

True

isdisjoint - retorna true se nenhum elemento contém na outra variável

In [34]:
val_1 = {1, 2, 5}
val_2 = {3, 4, 6}

In [35]:
val_1.isdisjoint(val_2)

True

# List, Set and Dict Comprehensions

[expr for val in collection if condition]

A expressão acima é equivalente à:

In [ ]:
result = []
for val in collection:
    if condiction:
        result.append(expr)

In [39]:
strings = ['a', 'as', 'bas', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAS', 'CAR', 'DOVE', 'PYTHON']

In [41]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [42]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [45]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bas': 2, 'car': 3, 'dove': 4, 'python': 5}

In [47]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
for tup in some_tuples:
    print(tup)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [52]:
for tup in some_tuples:
    for x in tup:
        print(x)

1
2
3
4
5
6
7
8
9

# FUNCTIONS

In [2]:
def my_function(x, y, z=1.5):
    if z > 1:
      return z * ( x + y )
    else:
        return z / ( x + y )

In [3]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [4]:
my_function(5, 6, 20)

220

# Namespace, Scope, and Local Functions

Scope = Global e Local

Variável local

In [14]:
a = []
def func():
    a = []
    for i in range(5):
        a.append(i)
        print(a)

In [15]:
func()
a

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

[]

In [17]:
a = []
def func_Global():
    global a 
    a = []
    for i in range(5):
        a.append(i)
        print(a)

In [18]:
func_Global()
a

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

# Retorno de multiplas variáveis

In [19]:
def f():
    a = 5
    b = 6
    c = 10
    return a, b, c

In [21]:
x1, x2, x3 = f()
print(x1, x2, x3)

5 6 10

In [22]:
def f_dict():
    a = 5
    b = 6
    c = 10
    return {'a':a, 'b': b, 'c': c}

In [24]:
teste = f_dict()
teste

{'a': 5, 'b': 6, 'c': 10}

# Funções são objetos

In [29]:
state = [' Alabam', ' Georgia!', 'Georgia', 'georgia', 'FLOridA', 'south     Carolina###', 'WesT VirgiNia?']

In [30]:
import re

def limpa_string(strings):
    result=[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [31]:
limpa_string(state)

['Alabam',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South     Carolina',
 'West Virginia']

# LAMBDA

Lambda é uma função "Anônima"

Exemplo de uma função

In [1]:
def funcao_1(x):
    return x * 2
print(funcao_1(4))

8

Exemplo de uma função Lambda

In [3]:
funcao_lambda = lambda x:x * 2
print(funcao_lambda(4))

8

In [5]:
precos = [100, 200, 20, 90]

imposto = list(map(lambda x:x*0.3, precos))
print(imposto)

[30.0, 60.0, 6.0, 27.0]

In [8]:
some_dict = {'a' : 1, 'b' : 2, 'c' : 3}

iter faz a extração apenas das chaves do dict

In [11]:
teste = iter(some_dict)
list(teste)

['a', 'b', 'c']

yield só retorna os valores quando é chamado, e ele retorna vários valores

In [15]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [23]:
gen = squares()

In [24]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

Quando o laço para no return o laço é interrompido, com o yield não

In [35]:
def squares_2(n):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        print(i)
        return i ** 2

In [37]:
gen2 = squares_2(10)
gen2

Generating squares from 1 to 100
1

1

# Generator expressions

In [41]:
gen = (x ** 2 for x in range(10))
gen

In [42]:
list(gen)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
sum (x ** 2 for x in range(100))

328350

In [44]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# Itertools modules

In [59]:
import itertools
first_letter = lambda x: x[0]
nomes = ['Alan', 'Adam', 'Wes', 'Will', 'Slbert', 'Ateven']

groupby pega uma sequência a um função, agrupa os elementos consecutivos em um sequência

In [61]:
for letter, names in itertools.groupby(nomes, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
S ['Slbert']
A ['Ateven']

# Errors and Exception Handling

In [62]:
def attempt_float(x):
    try: 
        return float(x)
    except:
        return x

In [63]:
attempt_float('1.234325')

1.234325

In [64]:
attempt_float('something')

'something'

In [65]:
attempt_float((1,2,3))

(1, 2, 3)

In [2]:
def attemp_float2(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [8]:
teste = attemp_float2('Teste')
type(teste)

str

In [9]:
teste = attemp_float2('123.98')
type(teste)

float

In [11]:
f = open(path, 'w')
try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

NameError: name 'path' is not defined

# 3.3 Files and the Operating System

In [17]:
path = 'teste.txt'
f = open(path)
f

In [19]:
lines = [x.rstrip() for x in open(path)]
lines

['Get complete instructions for manipulating, processing, cleaning, and crunching datasets in Python. Updated for Python 3.6, the second edition of this hands-on guide is packed with practical case studies that show you how to solve a broad set of data analysis problems effectively. Youâ€™ll learn the latest versions of pandas, NumPy, IPython, and Jupiter in the process.',
 '',
 'Written by Wes McKinney, the creator of the Python pandas project, this book is a practical, modern introduction to data science tools in Python. Itâ€™s ideal for analysts new to Python and for Python programmers new to data science and scientific computing. Data files and related material are available on GitHub.',
 '',
 'Use the IPython shell and Jupiter notebook for exploratory computing',
 'Learn basic and advanced features in NumPy (Numerical Python)',
 'Get started with data analysis tools in the pandas library',
 'Use flexible tools to load, clean, transform, merge, and reshape data',
 'Create informative visualizations with matplotlib',
 'Apply the pandas group by facility to slice, dice, and summarize datasets',
 'Analyze and manipulate regular and irregular time series data',
 'Learn how to solve real-world data analysis problems with thorough, detailed examples']

In [21]:
f.close()

In [27]:
with open(path) as f:
    lines = [x.rstrip() for x in f]
    print(lines)

['Get complete instructions for manipulating, processing, cleaning, and crunching datasets in Python. Updated for Python 3.6, the second edition of this hands-on guide is packed with practical case studies that show you how to solve a broad set of data analysis problems effectively. Youâ€™ll learn the latest versions of pandas, NumPy, IPython, and Jupiter in the process.', '', 'Written by Wes McKinney, the creator of the Python pandas project, this book is a practical, modern introduction to data science tools in Python. Itâ€™s ideal for analysts new to Python and for Python programmers new to data science and scientific computing. Data files and related material are available on GitHub.', '', 'Use the IPython shell and Jupiter notebook for exploratory computing', 'Learn basic and advanced features in NumPy (Numerical Python)', 'Get started with data analysis tools in the pandas library', 'Use flexible tools to load, clean, transform, merge, and reshape data', 'Create informative visualizations with matplotlib', 'Apply the pandas group by facility to slice, dice, and summarize datasets', 'Analyze and manipulate regular and irregular time series data', 'Learn how to solve real-world data analysis problems with thorough, detailed examples', 'trs', 'asd', 'asasd', '', 'asd', 'das', 'asd', 'asd', 'ds', 'das', 'asd', 'a', 'das']

In [49]:
f = open(path)
f.read(50)

'Get complete instructions for manipulating, proces'

'rb' Modo Binário

In [31]:
f2 = open(path, 'rb')
f2.read(10)

b'Get comple'

In [33]:
f.tell()

10

In [36]:
import sys
sys.getdefaultencoding()

'utf-8'

In [56]:
f.seek(2)

2

In [57]:
f.read(1)

't'

.read - Le a quantidade de letras
.seek - Move o cursor

In [58]:
f.close()
f2.close()

r - read-only
w - write, creates a new file
x - write, creates a new file, but fails if the file path already exists
a - append to existing file(create the file if it does not already exist)
r+ - read an write
b, 'rb' or 'wb'- add to modo for binary 
t - text mode for files(automatically decoding bytes to Unicode)

In [59]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x)>1)

In [60]:
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Get complete instructions for manipulating, processing, cleaning, and crunching datasets in Python. Updated for Python 3.6, the second edition of this hands-on guide is packed with practical case studies that show you how to solve a broad set of data analysis problems effectively. Youâ€™ll learn the latest versions of pandas, NumPy, IPython, and Jupiter in the process.\n',
 'Written by Wes McKinney, the creator of the Python pandas project, this book is a practical, modern introduction to data science tools in Python. Itâ€™s ideal for analysts new to Python and for Python programmers new to data science and scientific computing. Data files and related material are available on GitHub.\n',
 'Use the IPython shell and Jupiter notebook for exploratory computing\n',
 'Learn basic and advanced features in NumPy (Numerical Python)\n',
 'Get started with data analysis tools in the pandas library\n',
 'Use flexible tools to load, clean, transform, merge, and reshape data\n',
 'Create informative visualizations with matplotlib\n',
 'Apply the pandas group by facility to slice, dice, and summarize datasets\n',
 'Analyze and manipulate regular and irregular time series data\n',
 'Learn how to solve real-world data analysis problems with thorough, detailed examples\n',
 'trs\n',
 'asd\n',
 'asasd\n',
 'asd\n',
 'das\n',
 'asd\n',
 'asd\n',
 'ds\n',
 'das\n',
 'asd\n',
 'a\n',
 'das']